body {
  background-color: #333;
  /*color: white;*/
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 16px;
  color: gold;
}

/**************menu*****************/

.menu_top {
  overflow: hidden;
  background-color: #333;
  position: relative;; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */;
}

.menu_top a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: gold;
}

/**************Banner*****************/
.front_img_banner {
  z-index: 2;
  position: absolute;
  top: 15%;
  left: 8%;
  width: 25%;
}

.img_banner {
  position: inherit;
  width: inherit;
}
.web_banner {
  z-index: 1;
  /*position:absolute;*/
  display: none;
  width: 100%;
  top: -50px;
}
.front_component {
  width: 100%;
}

.front_sentence_banner {
  font-size: 40px;
  z-index: 2;
  position: absolute;
  top: 70%;
  color: gold;
  text-align: center;
  /* text-decoration: underline; */
  width: 100%;
}
/**************About*****************/

.about {
  font-size: 14px;
  width: 90%;
  text-align: center;
  color: white;
  padding-left: 5%;
  color: gold;
}

.title_about {
  color: gold;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img_schema {
  background-color: white;
  width: 100%;
}

.text_about {
  margin-top: 20px;
}

canvas {
  background: url("../img/banner_web.png") no-repeat center;
  /*filter: blur(2px);*/
  z-index: 0;
}

label {
  color: gold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.form_contact {
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inpt_form_cont {
  background-color: #333;
  color: gold;
}

.submit_butt {
  margin-top: 20px;
  margin-bottom: 20px;
}

/**************footer*****************/

.footer {
  font-size: 14px;
  width: 90%;
  padding-left: 5%;
}

.bot_form {
  position: relative;
  display: block;
}
